PORT=4000
MONGO_URI=mongodb+srv://sahajay426_db_user:SA44WUHDiRhOYYHC@cluster0.kgf1ufw.mongodb.net/
JWT_SECRET=your_super_secret_jwt_key_here
EMAIL_USER=sahajay426@gmail.com
EMAIL_PASS=fzbg snxu cpxh xqwj
CLIENT_URL=http://localhost:3000
